@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e1e1e1;
  font-family: "Judson";
}

.accent-text {
  color: #40c397;
  font-family: "Ruthie";
  font-size: 24px;
  font-family: Ruthie;
}

@media (max-width: 768px) {
  .aos-init {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}
header {
  position: relative;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
}
header .sub-header {
  display: flex;
  justify-content: right;
  background-color: #40c397;
  padding: 10px 108px;
  height: 70px;
}
header .sub-header .sub-header-phone {
  display: flex;
  width: fit-content;
  height: 20px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  z-index: 10;
}
header .sub-header .sub-header-phone .fa-phone {
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}
header .sub-header .sub-header-phone a {
  text-decoration: none;
  color: white;
}
header nav {
  position: absolute;
  top: 60%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  height: 80px;
  width: 95%;
  padding: 10px 80px;
  border-radius: 15px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.6);
}
header nav .logo {
  height: 60px;
  width: 120px;
  background: url(../images/webp/Logo.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
header nav ul li a {
  color: #243238;
  text-decoration: none;
  font-size: 18px;
}
header nav ul li a:hover {
  color: #40c397;
}
header .checkbtn {
  font-size: 24px;
  color: #40c397;
  cursor: pointer;
  display: none;
}
header #check {
  display: none;
}

@media (max-width: 768px) {
  header .sub-header {
    padding: 12px;
    height: 55px;
  }
  header nav {
    top: 80%;
    padding: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    border-radius: 15px 15px 0 0;
  }
  header nav .logo {
    height: 50px;
    width: 100px;
  }
  header nav ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background-color: #e1e1e1;
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    gap: 20px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.6);
  }
  header nav .checkbtn {
    display: block;
    order: 1;
    padding-right: 20px;
  }
  header nav #check:checked ~ ul {
    right: 0;
  }
}
.hero {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url(../images/webp/hero_w.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 60px;
  background-color: rgba(175, 208, 197, 0.5);
  height: fit-content;
  width: fit-content;
  border-radius: 50px 0;
  margin-right: 108px;
  margin-top: 100px;
}
.hero .hero-text .hero-accent {
  font-family: "Ruthie";
  font-size: 56px;
}
.hero .hero-text h1 {
  font-size: 80px;
}
.hero .hero-text h1 span {
  color: #40c397;
}
.hero .hero-text p {
  font-size: 20px;
}
.hero .hero-text .hero-btn {
  border-radius: 4px;
  background-color: #40c397;
  border: none;
  color: #fff;
  text-align: center;
  padding: 16px;
  width: 120px;
  margin-top: 40px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 17px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.6);
}
.hero .hero-text .hero-btn a {
  text-decoration: none;
  color: white;
}
.hero .hero-text .hero-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.hero .hero-text .hero-btn:after {
  content: "→";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -10px;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
.hero .hero-text .hero-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.hero .hero-text .hero-btn:hover:after {
  opacity: 1;
  right: 10px;
}

@media (max-width: 768px) {
  .hero {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .hero .hero-text {
    margin: auto;
  }
}
.about {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 90vh;
  width: 100%;
  scroll-margin: 130px;
}
.about .studio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  background-color: rgba(175, 208, 197, 0.7);
  margin: 0 108px;
}
.about .studio .studio-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 440px;
  padding: 40px 0;
}
.about .studio .studio-description .studio-text {
  padding: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
.about .studio .about-img {
  background: url(../images/webp/about-studio.webp);
  width: 100%;
  height: 440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .specialist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin: 0 108px;
}
.about .specialist .specialist-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(175, 208, 197, 0.7);
  height: 440px;
  width: 100%;
}
.about .specialist .specialist-description .specialist-phone {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 10px;
}
.about .specialist .specialist-description .specialist-phone a {
  text-decoration: none;
  color: white;
}
.about .specialist .specialist-description .specialist-text {
  padding: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
.about .specialist .specialist-image {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 440px;
  background-color: rgba(175, 208, 197, 0.7);
}
.about .specialist .specialist-image .specialist-img {
  height: 100%;
  width: 100%;
  background: url(../images/webp/specialist.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 769px) and (max-width: 1281px) {
  .about {
    min-height: 80vh;
  }
  .about .studio,
  .about .specialist {
    margin: 0 54px;
  }
  .about .studio .studio-description .studio-text {
    padding: 20px;
  }
  .about .specialist .specialist-description .specialist-text {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .about {
    margin: auto;
    min-height: 130vh;
  }
  .about .studio,
  .about .specialist {
    flex-direction: column;
    margin: 0;
  }
  .about .studio .studio-description .studio-text {
    font-size: 16px;
    line-height: 24px;
    padding: 30px;
  }
  .about .about-img {
    display: none;
  }
  .about .specialist .specialist-description .specialist-text {
    font-size: 16px;
    line-height: 24px;
    padding: 30px;
  }
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 108px;
  min-height: 200px;
  scroll-margin: 100px;
}
.services h2 {
  padding-bottom: 20px;
}
.services .services-cards {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 80px;
}
.services .services-cards .flip-card-3D-wrapper {
  width: 420px;
  height: 610px;
  position: relative;
}
.services .services-cards .flip-card-3D-wrapper .flip-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 15px;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
}
.services .services-cards .flip-card-3D-wrapper .flip-card .flip-card-btn-turn-to-back {
  position: absolute;
  bottom: 30px;
  border-radius: 4px;
  background-color: #40c397;
  border: none;
  color: #fff;
  text-align: center;
  padding: 16px;
  width: 200px;
  margin-top: 20px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.6);
  visibility: hidden;
}
.services .services-cards .flip-card-3D-wrapper .flip-card .flip-card-btn-turn-to-front {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 4%;
  right: 6%;
  border-radius: 4px;
  background-color: #40c397;
  border: none;
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.6);
  visibility: hidden;
}
.services .services-cards .flip-card-3D-wrapper .flip-card .flip-card-front,
.services .services-cards .flip-card-3D-wrapper .flip-card .flip-card-back {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(175, 208, 197, 0.7);
  backface-visibility: hidden;
  z-index: 2;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.6);
}
.services .services-cards .flip-card-3D-wrapper .flip-card .flip-card-front .service-image img {
  height: 120px;
  width: 130px;
  border-radius: 50%;
}
.services .services-cards .flip-card-3D-wrapper .flip-card .flip-card-front .price-time {
  font-size: 20px;
}
.services .services-cards .flip-card-3D-wrapper .flip-card .flip-card-back {
  transform: rotateY(180deg);
  text-align: justify;
  justify-content: center;
  padding-top: 0;
  font-size: 14px;
  line-height: 22px;
}
.services .services-cards .flip-card-3D-wrapper .flip-card .service-icon {
  width: 50px;
}
.services .services-cards .do-flip {
  transform: rotateY(-180deg);
}

@media (min-width: 769px) and (max-width: 1281px) {
  .services {
    margin: 0 54px;
    min-height: 500px;
  }
  .services .services-cards {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .services {
    margin: 0 40px;
    min-height: 500px;
    scroll-margin: 120px;
  }
  .services .services-cards {
    padding-top: 30px;
  }
  .services .services-cards .flip-card-3D-wrapper {
    width: 400px;
  }
}
.contradictions {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 7vh;
  flex-direction: column;
  color: #243238;
  width: 100%;
}
.contradictions h2 {
  padding-bottom: 20px;
}
.contradictions .contradictions-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  line-height: 30px;
  list-style: none;
}
.contradictions .contradictions-list li {
  position: relative;
  padding-bottom: 10px;
}
.contradictions .contradictions-list li::before {
  content: url(../images/svg/check.svg);
  display: inline-block;
  position: absolute;
  left: -40px;
  top: 2px;
}

@media (min-width: 769px) and (max-width: 1281px) {
  .contradictions {
    margin: 0;
    text-align: center;
    min-height: 60vh;
  }
  .contradictions .contradictions-list {
    text-align: left;
    padding-top: 30px;
    margin: 0 54px;
  }
}
@media (max-width: 768px) {
  .contradictions {
    margin: 0 40px;
    text-align: center;
    min-height: 55vh;
  }
  .contradictions .contradictions-list {
    text-align: left;
    padding-top: 30px;
    margin: 0 50px;
    font-size: 16px;
    line-height: 24px;
  }
}
.gallery {
  width: 90%;
  position: relative;
  min-height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 108px;
  color: #243238;
  scroll-margin: 100px;
}
.gallery .gallery-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
  background-color: rgba(175, 208, 197, 0.7);
  width: 100%;
  margin-top: 80px;
}
.gallery .gallery-image:nth-child(1) {
  position: relative;
}
.gallery .gallery-frame-1,
.gallery .gallery-frame-3 {
  position: absolute;
  right: 7%;
  bottom: 10%;
  border: 2px solid white;
  height: 200px;
  width: 300px;
  z-index: 10;
}
.gallery .gallery-image:nth-child(2) {
  position: relative;
}
.gallery .gallery-frame-2 {
  position: absolute;
  right: 7%;
  bottom: 10%;
  border: 2px solid white;
  height: 275px;
  width: 300px;
  z-index: 10;
}
.gallery .gallery-image:nth-child(3) {
  position: relative;
}

@media (min-width: 769px) and (max-width: 1281px) {
  .gallery {
    min-height: 100vh;
    width: 80%;
  }
  .gallery .gallery-images {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .gallery {
    min-height: 100vh;
    width: 100%;
    scroll-margin: 120px;
  }
  .gallery .gallery-images {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
  }
}
#gift {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 73vh;
}
#gift .gift-coupon {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
  overflow: hidden;
  margin-top: 80px;
  background: url(../images/webp/dovana-2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 108px;
}
#gift .gift-coupon .gift-coupon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 26px;
}
#gift .gift-coupon .gift-icon {
  position: absolute;
  bottom: -30%;
  right: 33%;
  transform: rotate(20deg);
  opacity: 0.5;
}
#gift .gift-coupon .gift-coupon-image {
  background: url(../images/webp/gift-coupon.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 65%;
  height: 50vh;
}

@media (min-width: 769px) and (max-width: 1281px) {
  #gift {
    min-height: 50vh;
  }
  #gift .gift-coupon {
    padding: 30px;
    margin-top: 30px;
  }
  #gift .gift-coupon .gift-coupon-image {
    height: 35vh;
    width: 100%;
  }
  #gift .gift-coupon .gift-icon {
    bottom: -50%;
    right: 23%;
    transform: rotate(20deg);
  }
}
@media (max-width: 768px) {
  #gift {
    min-height: 40vh;
    flex-direction: column;
  }
  #gift .gift-coupon {
    flex-direction: column-reverse;
    padding: 30px;
    margin-top: 30px;
  }
  #gift .gift-coupon .gift-coupon-image {
    width: 90%;
  }
  #gift .gift-coupon .gift-coupon-text {
    font-size: 22px;
    padding-top: 40px;
  }
  #gift .gift-coupon .gift-icon {
    bottom: -40%;
    right: 33%;
    transform: rotate(20deg);
  }
  #gift .gift-coupon .gift-coupon-image {
    height: 25vh;
    width: 100%;
  }
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 65vh;
  scroll-margin: 100px;
}
.contacts .contacts-and-map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 80px;
}
.contacts .contacts-and-map .map-container {
  width: 50%;
}
.contacts .contacts-and-map .contacts-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  min-height: 400px;
  background-color: rgb(175, 208, 197);
  z-index: 10;
  padding-left: 40px;
  gap: 40px;
}
.contacts .contacts-and-map .contacts-options .contacts-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.contacts .contacts-and-map .contacts-options .contacts-item .contact-item-title {
  display: flex;
  justify-items: left;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.contacts .contacts-and-map .contacts-options .contacts-item a {
  text-decoration: none;
  color: white;
}

@media (min-width: 769px) and (max-width: 1281px) {
  .contacts {
    min-height: 65vh;
  }
  .contacts .contacts-and-map {
    flex-direction: column-reverse;
    width: 90%;
    margin-top: 30px;
  }
  .contacts .contacts-and-map .map-container {
    width: 100%;
  }
  .contacts .contacts-and-map .contacts-options {
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    justify-content: space-around;
    padding: 20px 0;
  }
}
@media (max-width: 768px) {
  .contacts {
    scroll-margin: 120px;
  }
  .contacts .contacts-and-map {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  .contacts .contacts-and-map .map-container {
    width: 100%;
  }
  .contacts .contacts-and-map .contacts-options {
    width: 100%;
    min-height: 260px;
    gap: 20px;
    text-align: center;
    padding-left: 0;
  }
  .contacts .contacts-and-map .contacts-options .contacts-item {
    align-items: center;
  }
  .contacts .contacts-and-map .contacts-options .contacts-item .contact-item-title {
    text-align: center;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #40c397;
  color: white;
  text-align: center;
  padding: 10px;
}
footer .facebook {
  text-decoration: none;
}

#consentBox {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 20;
}

#consentBox.hide {
  display: none;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

#consentContent p {
  color: #243238;
  margin: 10px 0 20px 0;
}
#consentContent .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#consentContent .consentButton,
#consentContent .rejectButton {
  padding: 12px 30px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
#consentContent .consentButton {
  background: #40c397;
  margin-right: 10px;
  color: white;
}
#consentContent .rejectButton {
  background: transparent;
  border: 2px solid #40c397;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 108px;
}

@media (min-width: 769px) and (max-width: 1281px) {
  .container {
    gap: 54px;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .container {
    gap: 30px;
    overflow: hidden;
  }
}

/*# sourceMappingURL=index.css.map */
